# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# idea
.idea

# lcov
*.info
coverage

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
/cache
/out
/.vscode
/.claude
/broadcast
/examples/node_modules
.DS_Store
.DS_Store
.DS_Store
